body {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  color: #393d41;
}

body h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: black;
  width: 100%;
  height: 5em;
}
header img {
  margin: 1.7em;
  width: 100%;
  max-width: 5.5em;
}

.box-0 {
  background-image: url(./img/banner.jpg);
  background-position: 20em;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 17em;
}

.box-0 h1 {
  font-size: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: #25a2c3;
}

.box-0 p {
  font-size: 1em;
  padding-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 140%;
}

.box-0 button {
  width: 10em;
  height: 3em;
  padding: 0.3em;
  margin: 1.8em;
  background-color: #f04c2f;
  border: 0;
  border-radius: 5px;
  color: white;
}

.box-1 h2 {
  margin-top: 2.2em;
  margin-bottom: 0.5em;
  color: #25a2c3;
}

.box-1 p {
  margin: 0 1.5em;
}

.box-2 h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #25a2c3;
}

.box-2 p {
  margin: 0 1.5em;
  margin-bottom: 1em;
}

main .img-1 {
  width: 100%;
  max-width: 11em;
  border-radius: 500px;
}

.box-3 {
  margin: 0 1.5em;
  margin-bottom: 1em;
}

.box-3 h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #25a2c3;
}

.box-4 {
  margin: 1.5em;
  margin-bottom: 1em;
}

.box-4 h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #25a2c3;
}

.box-5 {
  background-color: #e22d0e;
  height: 17em;
}
.box-5 h2 {
  padding-top: 1.5em;
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.box-5 p {
  font-size: 1rem;
  padding-top: 1.5em;
  padding: 2em 1.5em;
  color: white;
}

.div-img {
  margin: 1.5em auto;
  width: 90%;
  border: solid 0.01em lightgray;
}
.div-img img {
  width: 100%;
}

.div-img h4 {
  color: #1696cd;
  padding: 1em 0;
}

.div-img p {
  padding-bottom: 1.5em;
}

.div-img .p-img {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

footer {
  background-color: #1696cd;
  height: 13em;
}

footer h3 {
  color: white;
  font-size: 1.4em;
  font-weight: 900;
  padding: 1em;
}
footer p {
  color: white;
  line-height: 150%;
  font-size: 0.85em;
}

footer a {
  color: white;
}

hr {
  background-color: white;
  width: 11.5em;
  height: 0.1px;
  border: 0;
}
